body {
    font-family: 'Lato', sans-serif;
}

.title {
    text-align: center;
}

.title h2 {
    margin: 15px;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_center {
    justify-content: center;
}

/* Player selector styling */
#compareButton {
    width: 140px;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

#playerView {
    min-width: 1360px;
    margin: 11.25px;
}

/* PLAYER SELECT STYLES*/
#playerSelect {
    width: 100%;
}

#player1DropdownContainer {
    margin: 0 215px 0 215px;
}

#player2DropdownContainer {
    margin: 0 215px 0 215px;
    display: none;
}

#overallView {
    margin: 11.25px;
    width: 500px;
}

/*Center text in player selector*/
.filter-option-inner-inner {
    text-align: center;
}