#overallView {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-evenly;*/
}

circle {
    stroke-width: 1px;
    stroke: #000000;
    fill: #ff7885;
}

.axisLabel {
    font-size: 24px;
    fill: slategrey;
}

div.dropdownWrapper {
    display: inline-block;
    margin-left: 75px;
    width: 320px;
    height: 130px;
    padding: 2px;
}

.dropdown {
    float: right;
}

.dropdownPanel {
    margin: 3px;
}

.dropdownLabel {
    width: 1%7;
    display: inline-block;
    float: left;
    padding-right: 5px;
}

/*Source: http://bl.ocks.org/d3noob/a22c42db65eb00d4e369*/
div.overallToolTip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 80px;
    padding: 2px;
    font: 20px sans-serif;
    background: lightgray;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
}

circle.selected {
    fill: #00a7d1;
}

#extremesButton {
    width: 140px;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
}

#chartSubheader {
    font-size: 24px;
    fill: slategrey;
}

.faded {
    fill: lightgrey;
    stroke: lightgrey;
}

.extremes {
    fill: #4900db;
    stroke: black;
}

