.year_line {
    stroke-width: 2px;
    stroke: grey;
}

.year_group_circles {
    stroke: black;
    stroke-width: 1px;
}

.year_group_circles:hover {
    cursor: pointer;
}

.selected_year_circle {
    fill: #6a3d9a !important;
    font-weight: bold;
}

.selected_years_brush {
    font-weight: bold;
    font-size: 1.1rem;
}

.spider-chart-circles {
    fill: none;
    stroke: gray;
}

.labelArcs {
    fill: none;
    cursor: pointer;
}

.selectedArc {
    fill: darkseagreen;
    cursor: pointer;
}

.labelText {
    fill: black;
    font-size: 13px;
    cursor: pointer;
}

.linesInSpiderChart {
    stroke: cadetblue;
}

.spiderChartPlotPathPlayer1 {
    stroke: crimson;
    fill: crimson;
    opacity: 0.6;
}

.spiderChartPlotPathPlayer2 {
    stroke: blue;
    fill: blue;
    opacity: 0.6;
}

.line_graph_title {
    color: black;
    font-size: 24px;
}

.hoverHighlight {
    stroke-width: 4px !important;
}

.labelArcs:hover {
    fill: grey;
}

.spiderChartDataPointsPlayer1 {
    fill: red;
    stroke: red;
}

.spiderChartDataPointsPlayer2 {
    fill: blue;
    stroke: blue;
}

.dashed {
    stroke-dasharray: 5;
}