.year_line {
    stroke-width: 2px;
    stroke: grey;
}

.year_group_circles {
    stroke: black;
    stroke-width: 1px;
}

.year_group_circles:hover {
    cursor: pointer;
}

.selected_year_circle {
    fill: #6a3d9a !important;
    font-weight: bold;
}

.selected_years_brush {
    font-weight: bold;
    font-size: 1.1rem;
}

.spider-chart-circles {
    fill: none;
    stroke: gray;
}

.labelArcs {
    fill: none;
    cursor: pointer;
}

.selectedArc {
    cursor: pointer;
}

.labelText {
    fill: black;
    font-size: 13px;
    cursor: pointer;
}

.linesInSpiderChart {
    stroke: cadetblue;
}

.spiderChartPlotPathPlayer1 {
    stroke: #e15759;
    fill: #e15759;
    opacity: 0.6;
}

.spiderChartPlotPathPlayer2 {
    stroke: #4e79a7;
    fill: #4e79a7;
    opacity: 0.6;
}

.line_graph_title {
    color: black;
    font-size: 24px;
}

.hoverHighlight {
    stroke-width: 4px !important;
}

.spiderChartDataPointsPlayer1 {
    fill: #e15759;
    stroke: #e15759;
}

.spiderChartDataPointsPlayer2 {
    fill: #4e79a7;
    stroke: #4e79a7;
}

.spiderChartToolTipRect {
    fill: none;
    stroke: black;
    stroke-width: .5px;
}

.dashed {
    stroke-dasharray: 5;
}

.titleHeader {
    text-anchor: middle;
    font-weight: bolder;
}

.textData {
    font-size: 12px;
}

.spiderChartToolTip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 2px;
    background: none;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
}